.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 50px;
}

.aboutHeading{
    font-size: 45px;
    color: #ddd;
    text-align: center;
}

.imgContainer{
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
}

.description{
    /* float: left; */
    color: #ccc;
    margin-bottom: 100px;
}

.clear{
    clear: both;
}

.skillHeading{
    font-size: 45px;
    color: #ddd;
    text-align: center;
}

.skillSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.skillCard{
    width: 250px;
    position: relative;
}

.skillCard svg{
    width: 100%;
}

.skillCard .skillLevel{
    position: absolute;
    top: 35%;
    right: 0;
    background-color: #ff4f4f28;
    border: 5px solid #ff4f4f;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #ff4f4f;
}

.skillCard .skillName{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
}

.skillCard .skillDescription{
    color: grey;
    font-size: 17px;
    text-align: center;
}

.expHeading{
    font-size: 45px;
    color: #ddd;
    text-align: center;
    margin-bottom: 100px;
}

.expSection{
    position: relative;
}

.expSection::after{
    content:'';
    display:block;
    background-color: #fff;
    width: 1px;
    height: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expCard{
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -50px;
    position: relative;
    color: #fff;
}

.expCard:nth-child(even)::before{
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: -12.5%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}

.expCard:nth-child(even)::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    width: 55px;
    height: 1px;
    top: 48.5%;
    left: -10%;
}

.expCard:nth-child(odd)::before{
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    right: -12.5%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}

.expCard:nth-child(odd)::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    width: 55px;
    height: 1px;
    top: 48.5%;
    right: -10%;
}

.expCard span{
    font-size: 24px;
}

.expCard:nth-child(even){
    margin-left: auto;
}

.expCard:nth-child(1), .expCard:nth-child(1)::before{
    background-color: #ff4f4f;
}

.expCard:nth-child(2), .expCard:nth-child(2)::before{
    background-color: #ffb84f;
}

.expCard:nth-child(3), .expCard:nth-child(3)::before{
    background-color: #3dca5c;
}

.expCard:nth-child(4), .expCard:nth-child(4)::before{
    background-color: #565252;
}

.expCard:nth-child(5), .expCard:nth-child(5)::before{
    background-color: #4fa0ff;
}