@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*,*::before,*::after{
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
}

body{
    /* max-width: 1920px; */
    margin:auto;
    background-color: #191919;
    font-family: sans-serif;
    min-height: 100vh;
}

.navbar{
    list-style: none;
    z-index: 100;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks{
    margin: 0 2%;
    transition: transform 0.6s ease-in-out;
}

.navLinks a{
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    font-size: 1.2rem;
    transition: 0.6s ease-in-out, color 0s, opacity 0s;
    -webkit-transition: 0.6s ease-in-out, color 0s, opacity 0s;
}

.navLinks:hover a{
    background-image: linear-gradient(to right,#fff,#fff);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    color: transparent;
    opacity: 1;
}

.navLinks:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.active a{
    color: #fff;
    opacity: 1;
}

.fa-bars{
    width: 35px;
    color: #fff !important;
    display: none;
    margin-left:auto;
    opacity: 0.6;
    z-index: 10;
    margin-top: 2%;
    margin-right: 2%;
}

.fa-bars:hover{
    opacity: 1;
}


@media screen and (max-width: 768px) {
    .navbar{
        display: none;
        background-color: transparent;
    }
    .fa-bars{
        display: block;
    }
    .navLinks{
        display:block;
        margin: 10% auto;
    }
    .navLinks a{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 1;
    }
}

.navbarOffCanvas{
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 100vw;
    overflow-y:hidden;
    background-color: rgba(26, 26, 26,0.9);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.6s ease-in-out;
}

.offCanvasLinks{
    list-style: none;
}

.closeBtn{
    position: absolute;
    color: #fff;
    font-size: 50px;
    margin-right: 2%;
    right: 0;
    top: 0;
}